body{background-color: beige;}


a{display: flex;
justify-content: center;}

table,th,td{border: solid 1px; padding: 20px;

}
table{margin-left: 32%; text-align: center;}

.cod{display: flex;
justify-content: center;}
